.App {
  text-align: center;
}


.pointer{
  cursor: pointer;
}
.btn{
  margin-top:10px;
  cursor: pointer;
}
.range{
  margin-top: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
.action a{
    margin-right: 8px;
}
.modal-wrapper{
  height: 500px;
  width: 500px;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  position: fixed;
  background-color: white;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  border: 3px solid black;
}
@media only screen and (max-width: 767px) {
  .modal-wrapper {
    height: 380px;
    width: 380px;
  }
}